{% extends 'base.html.twig' %}

{% block title %}Calculator{% endblock %}

{% block body %}


<div class="wrapper">
<h3>This is about as simple as it gets, while still validating the data...</h3>

    {{ form(controller_form) }}

</div>
{% endblock %}
