{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}


<div class="wrapper">
    <h3>Mr & Mrs Smith Test...</h3>
    <p>Hi, thanks for asking me to do this it's been a bit of fun...
    </p>
    <h4>Cris Thompson.</h4>


</div>
{% endblock %}
