<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mr & Mrs Smith - Calculator Test{% endblock %}</title>
        {% block stylesheets %}
        <style>
            .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 22px/1.5 sans-serif; }
            .wrapper code { background: #F5F5F5; padding: 2px 6px; }
            label { display: none; }
            input, select, button { width: 50px; float:left; margin-right:5px;}
            input.numberEntry:hover { background-color: #dfdfdf;}
            input.userMessage { color: #cc2255; padding-top: 10px;}
        </style>
        {% endblock %}
    </head>
    <body>
        <a href='/'>Welcome</a>&nbsp;|&nbsp;<a href='/calculator'>Calculator</a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
